body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e7e2d9;
    color: #1c2a39;
}

/* HERO */
.hero {
    background: #2c3e50;
    color: #f4f1ea;
    padding: 80px 40px;
    text-align: left;
}

.hero h1 {
    font-size: 60px;
    margin: 10px 0;
    letter-spacing: 3px;
}

.small {
    font-size: 12px;
    opacity: 0.7;
}

/* PROFILE */
.profile {
    display: flex;
    align-items: center;
    background: #f4f1ea;
    margin: 30px;
    padding: 25px; /* เพิ่ม */
    border-radius: 15px;
    gap: 20px;
}

.avatar {
    width: 140px;
    height: 140px;
    object-fit: cover;   /* ครอปรูปไม่ให้ยืด */
    border-radius: 50%;  /* ⭐ ทำให้เป็นวงกลม */
    margin-right: 15px;
}

/* ชื่อ */
.name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px; /* เพิ่มความเด่น */
}

/* รูปหน้าชื่อ */
.name-icon {
    width: 140px;
    height: 140px;
}

/* TITLE */
.section-title {
    margin: 20px 30px;
    border-left: 5px solid #2c3e50;
    padding-left: 10px;
}

/* GRID */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px;
}

/* CARD */
.card {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Rank */
.rank {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #2c3e50;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
}

/* ✅ รูปไม่ยืด */
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* สำคัญมาก */
    background: #ddd;
    border-radius: 5px;
}

/* Text */
.card h4 {
    margin: 10px 0 5px;
}

.card p {
    color: gray;
    font-size: 13px;
}

.song-container {
    display: flex;
    flex-direction: column;  /* ⭐ เรียงแนวตั้ง */
    gap: 20px;
    padding: 30px;
}

.song-card {
    width: 90%;          /* กว้างเกือบเต็มจอ */
    max-width: 900px;    /* ใหญ่สุด */
    margin: 0 auto;      /* อยู่กลาง */
    background: #f4f1ea;
    padding: 20px;
    border-radius: 12px;
}

.song-card iframe {
    width: 100%;
    height: 500px;   /* ⭐ เพิ่มความสูง */
    border: none;
    border-radius: 10px;
}

.song-card iframe {
    width: 100%;
    aspect-ratio: 16 / 9;   /* ⭐ สวยสุด */
    border: none;
    border-radius: 10px;
}

/* BUTTON */
.btn-box {
    text-align: center;
    margin: 30px;
}

button {
    background: #e0b84c;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #caa23d;
}

/* TOP MESSAGE */
#topMessage {
    position: fixed;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    background: #2c3e50;
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    transition: 0.5s;
    z-index: 999;
}
